.DS_Store
node_modules
/dist
/ui_design

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
DEVELOPMENT.md*
DEVELOPMENT_EN.md*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
